/*  레이아웃 */
.movie-ticket-payment-info {
  display: flex;
  flex-flow: nowrap row;
  gap: 20px;
  padding-block: 15px;
  border-bottom: 5px solid #f8f8f8;

  .img-container {
    display: inline-block;
    position: relative;
  }
  .info-text-part {
    display: flex;
    flex-flow: wrap column;
    gap: 10px;
  }

  .movie-info {
    color: gray;

    li {
      float: left;
      clear: both;
      min-width: 40px;
      margin-bottom: 7px;
      font-size: var(--fs-14);
    }
  }
}
.movie-age-rating {
  position: absolute;
  top: -5px;
  right: -10px;
}

/* 스타일링 */
h2 {
  font-size: 1.2rem;
  font-weight: 600;
}
.movie-img {
  border-radius: 5px;
}

.movie-title {
  font-size: 1.2rem;
  font-weight: 600;
}
