/* 공통 */

/* Small phone */
@media (min-width: 480px) {
}

/* Tablet */
@media (min-width: 768px) {
}

/* Desktop */
@media (min-width: 1024px) {
}

/* Large Desktop */
@media (min-width: 1280px) {
}

/* seatsyle */
.seat-area {
  display: grid;
  grid-template-columns: repeat(1, 1fr) 37px repeat(8, 1fr) 37px repeat(2, 1fr);
  gap: 8px;
  align-items: center;
}
